<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "phonegap.snake"
        version   = "1.2">
    
    <name> Snake game </name>
    
    <description> A snake game developed in 2016 by Miroslav Kovar, SmitH20.</description>
    
    <icon src="icon.png" />
    <icon src="icon.png" gap:platform="android"/>



</widget>





